@model IEnumerable<DemoMVC.Models.Hethongphanphoi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tendaily)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nguoidaidien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dienthoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHTPP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tendaily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nguoidaidien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHTPP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madaily">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madaily">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madaily">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
